<!DOCTYPE html>
<html lang="en">
<head>
	<title>CONTACTS</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">

						<div class="row header">
							<div class="cell">
								RTO Code
							</div>
							<div class="cell">
								RTO Name
							</div>
							<div class="cell">
								RTO Address							
							</div>
							<div class="cell">
								Pin Code
							</div>
							<div class="cell">
								Phone Number
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Full Name">
								KA01
							</div>
							<div class="cell" data-title="Age">
								RTO Koramangala
							</div>
							<div class="cell" data-title="Job Title">
								Bangalore Cental,
								Koramangala,
								BDA Complex
								3 - Block,
								Bangalore
							</div>
							<div class="cell" data-title="Location">
								560034
							</div>
							<div class="cell" data-title="Location">
								080-25533525
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Full Name">
								KA02
							</div>
							<div class="cell" data-title="Age">
								RTO
								Bangalore
								( West )
							</div>
							<div class="cell" data-title="Job Title">
								Bangalore
								( West )
								Rajajinagar
								Shopping
								Complex
								Bangalore
							</div>
							<div class="cell" data-title="Location">
								560010
							</div>
							<div class="cell" data-title="Location">
								080 - 23324388
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Full Name">
								KA03
							</div>
							<div class="cell" data-title="Age">
								RTO
								Bangalore
								( East )
							</div>
							<div class="cell" data-title="Job Title">
								Bangalore
( East )
2nd Floor
BDA Complex
Indiranagar,
Bangalore
							</div>
							<div class="cell" data-title="Location">
								560038
							</div>
							<div class="cell" data-title="Location">
								080 - 25253726
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA04
							</div>
							<div class="cell" data-title="Age">
									RTO
Bangalore
( North )
							</div>
							<div class="cell" data-title="Job Title">
								Bangalore
( North )
3rd Floor
Shopping Complex
RLY Stn. Rd,
Yeswanthapura,
BLR
							</div>
							<div class="cell" data-title="Location">
								560022
							</div>
							<div class="cell" data-title="Location">
								080 - 23376039
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Full Name">
								KA05
							</div>
							<div class="cell" data-title="Age">
								RTO
Bangalore
( South )
							</div>
							<div class="cell" data-title="Job Title">
								Bangalore
( South )
Jayanagar
Shopping 
Complex
4th Block,
Jayanagar,
Bangalore
							</div>
							<div class="cell" data-title="Location">
								560011
							</div>
							<div class="cell" data-title="Location">
									080 - 26630989
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Full Name">
								KA06
							</div>
							<div class="cell" data-title="Age">
								RTO
Tumkur
							</div>
							<div class="cell" data-title="Job Title">
								B.H.Road,
Tumkur
							</div>
							<div class="cell" data-title="Location">
								
							</div>
							<div class="cell" data-title="Location">
									0816 - 2278473
							</div>

						</div>

						<div class="row">
							<div class="cell" data-title="Full Name">
								KA07
							</div>
							<div class="cell" data-title="Age">
								RTO
Kolar
							</div>
							<div class="cell" data-title="Job Title">
								Goripet
Main Road,
Kolar
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08152 - 222039
							</div>
						</div>
<div class="row">
							<div class="cell" data-title="Full Name">
								KA08
							</div>
							<div class="cell" data-title="Age">
							RTO
Cormondal
							</div>
							<div class="cell" data-title="Job Title">
							Cormondal,
K.G.F
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08153 - 260214
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA09
							</div>
							<div class="cell" data-title="Age">
								RTO
Mysore
							</div>
							<div class="cell" data-title="Job Title">
							RTO Office
Building,
Vanivilas Road,
Near
Haardwick
High School.
Mysore
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
									0821 - 2330364
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA10
							</div>
							<div class="cell" data-title="Age">
							RTO
Chamaraj
Nagar
							</div>
							<div class="cell" data-title="Job Title">
							Near
Railway 
Station Road,
Chamaraj Nagar
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08226 -722444
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA11
							</div>
							<div class="cell" data-title="Age">
							RTO
Mandya
							</div>
							<div class="cell" data-title="Job Title">
							Near DEP
Commissioner Office,
Mandya
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08232 - 220031
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA12
							</div>
							<div class="cell" data-title="Age">
								RTO
Madeikeri
							</div>
							<div class="cell" data-title="Job Title">
							BSunny Side,
General
Thimmaiahroadm
Madeikeri
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08272 - 225785
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA13
							</div>
							<div class="cell" data-title="Age">
							RTO
Hassan
							</div>
							<div class="cell" data-title="Job Title">
								B. Kathihall,
Arasikere
Road,
Hassan
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
									08172 - 240660
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA14
							</div>
							<div class="cell" data-title="Age">
							RTO
Shimoga
							</div>
							<div class="cell" data-title="Job Title">
SowlangRoad,
Old D.C
Office Compound,
Shimoga
							</div>
							<div class="cell" data-title="Location">
					        577201
							</div>
							<div class="cell" data-title="Location">
								08182 - 222209
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA15
							</div>
							<div class="cell" data-title="Age">
							Asst. RTO
Sagar
							</div>
							<div class="cell" data-title="Job Title">
								No. 25/46,
Upstairs,
New B.H.
Road,
Vinobha Nagar
Sagar,
Shimoga 
Dist
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08183 - 226276
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA16
							</div>
							<div class="cell" data-title="Age">
								RTO
Chitradurga
							</div>
							<div class="cell" data-title="Job Title">
								NH - 4,
Deviation
Road,
Chitradurga
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08194 - 230457
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA17
							</div>
							<div class="cell" data-title="Age">
							RTO
Davanagere
							</div>
							<div class="cell" data-title="Job Title">
							Devaraj
URS Layout,
Davanagere
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08912 - 259848
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA18
							</div>
							<div class="cell" data-title="Age">
								RTO
Chickmagalur
							</div>
							<div class="cell" data-title="Job Title">
							M.L.Vasudeva
Murthy 
Building,
Hosmane Extn,
Chickmagalur
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
									08262 - 235426
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA19
							</div>
							<div class="cell" data-title="Age">
								RTO
Mangalore
							</div>
							<div class="cell" data-title="Job Title">
							Hampanakatte,
Nehru Maidhan
Road, East
A.B.Shetty
Circle,
Mangalore
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								0824 - 2423476
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA20
							</div>
							<div class="cell" data-title="Age">
								RTO
Udupi
							</div>
							<div class="cell" data-title="Job Title">
								Padmasali
Sabagraha
Kattada,
Mulki Road,
ADI Udupi,
Udupi
							</div>
							<div class="cell" data-title="Location">
					        576103
							</div>
							<div class="cell" data-title="Location">
							0820 - 2521437
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA21
							</div>
							<div class="cell" data-title="Age">
							RTO
Puttur
							</div>
							<div class="cell" data-title="Job Title">
							Puttur,
Dakshina
Kannada
District
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08251 - 230729
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA22
							</div>
							<div class="cell" data-title="Age">
							RTO
Belgaum
							</div>
							<div class="cell" data-title="Job Title">
								Sangolli 
Rayanna Circle,
P.B. Road,
RTO Office
Compound,
Shivanagar,
Belgaum
							</div>
							<div class="cell" data-title="Location">
					590016
							</div>
							<div class="cell" data-title="Location">
							08312 - 465503
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA23
							</div>
							<div class="cell" data-title="Age">
								RTO
Chikkodi
							</div>
							<div class="cell" data-title="Job Title">
								Mahalingapura
Road,
Mahaveera
Nagar
EXTN,
Chikkodi,
Belgam Dist
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08338 - 272241
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA24
							</div>
							<div class="cell" data-title="Age">
								Asst. RTO
Bailahongala
							</div>
							<div class="cell" data-title="Job Title">
								Bailahongala,
Belgaum
Dist
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
							08288 - 233288
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
							KA25
							</div>
							<div class="cell" data-title="Age">
								RTO
Dharwad
							</div>
							<div class="cell" data-title="Job Title">
							Naavanagar
Post,
Hubli - Dharwad
Road,
Dharwad
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								0836 - 2322220
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA26
							</div>
							<div class="cell" data-title="Age">
								RTO
Gadag
							</div>
							<div class="cell" data-title="Job Title">
							3739,
Jodamaruthi
Temple Street,
Hubli - Dhawad
Road,
Gadag
							</div>
							<div class="cell" data-title="Location">
					            582101
							</div>
							<div class="cell" data-title="Location">
								08372 - 237078
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA27
							</div>
							<div class="cell" data-title="Age">
								RTO
Haveri
							</div>
							<div class="cell" data-title="Job Title">
							No. 2548,
M.S.Kurubagonda
Building,
Hukkerimatt
Road,
Haveri
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08375 - 232299
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA28
							</div>
							<div class="cell" data-title="Age">
							RTO
Bijapur
							</div>
							<div class="cell" data-title="Job Title">
								Bagalkot 
Road,
Bijapur
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
							08352 - 276218
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA29
							</div>
							<div class="cell" data-title="Age">
								RTO
Bagalkot
							</div>
							<div class="cell" data-title="Job Title">
								Station Road
Extention Area,
Navanagar,
Bagalkot
							</div>
							<div class="cell" data-title="Location">
					    577101
							</div>
							<div class="cell" data-title="Location">
								08354 - 235912
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA30
							</div>
							<div class="cell" data-title="Age">
							RTO
Karwar
							</div>
							<div class="cell" data-title="Job Title">
							Near PWD
Inspection
Bungalow,
Kawar
							</div>
							<div class="cell" data-title="Location">
					581301
							</div>
							<div class="cell" data-title="Location">
									08382 - 226364
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA31
							</div>
							<div class="cell" data-title="Age">
							RTO
Sirsi
							</div>
							<div class="cell" data-title="Job Title">
								Choukimutt
Road, Sirsi,
Uttara Kannada
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08384 - 226711
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA32
							</div>
							<div class="cell" data-title="Age">
									RTO
Gulbarga
							</div>
							<div class="cell" data-title="Job Title">
							Rajpur Cross, Sedam Road
Gulbarga
							</div>
							<div class="cell" data-title="Location">
					585105
							</div>
							<div class="cell" data-title="Location">
								08472 - 248805
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA33
							</div>
							<div class="cell" data-title="Age">
								RTO
Yadagiri
							</div>
							<div class="cell" data-title="Job Title">
								Near KSRTC
Bus Depot,
Station Area,
Yadagiri
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08473 - 252580
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA34	
							</div>
							<div class="cell" data-title="Age">
								RTO
Bellary
							</div>
							<div class="cell" data-title="Job Title">
							Bellary - 
Hospet Road,
Contonment
Bellary
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08392 - 240048
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA35
							</div>
							<div class="cell" data-title="Age">
								RTO
Hospet
							</div>
							<div class="cell" data-title="Job Title">
								No. 180, Near
Harihara Road,
Amaravathi,
Hospet
							</div>
							<div class="cell" data-title="Location">
					    583201
							</div>
							<div class="cell" data-title="Location">
								08394 - 230766
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA36
							</div>
							<div class="cell" data-title="Age">
							RTO
Raichur
							</div>
							<div class="cell" data-title="Job Title">
Near KSRTC
Depot,
Mantralaya
Road,
Raichur
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08532 - 223329
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA37
							</div>
							<div class="cell" data-title="Age">
								RTO
Koppal
							</div>
							<div class="cell" data-title="Job Title">
APMC Yaard,
Koppal
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08539 - 220829
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA38
							</div>
							<div class="cell" data-title="Age">
								RTO
Bidar
							</div>
							<div class="cell" data-title="Job Title">
Near Airforce
Gatr,
Bidar
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08484 - 226361
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA39
							</div>
							<div class="cell" data-title="Age">
								Asst. RTO
Bhalki
							</div>
							<div class="cell" data-title="Job Title">
Near I.B,
Gunjarea,
Bhalki,
Bidar
Dist
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								RTO
Chikkaballapura
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA40
							</div>
							<div class="cell" data-title="Age">
RTO
Chikkaballapura					</div>
							<div class="cell" data-title="Job Title">
Bangalore
Road,
Chikkaballapura
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
									08156 - 263053
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA41
							</div>
							<div class="cell" data-title="Age">
RTO
Bangalore
							</div>
							<div class="cell" data-title="Job Title">
		26/2,27/2,
Kenchenahalligrama,
Jnanabharati,
RVCE Post,
Mysore Road,
Bangalore
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								080 - 22718765
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA42
							</div>
							<div class="cell" data-title="Age">
				RTO
Ramanagara
							</div>
							<div class="cell" data-title="Job Title">
Near Ghousia
College,
Mysore Road,
Ramanagara						
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
									080 - 7201062					</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA43
							</div>
							<div class="cell" data-title="Age">
Asst.RTO
Devenahall
							</div>
							<div class="cell" data-title="Job Title">
	Vijayapura Road
Devenahall			</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								080 - 27681999
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA44
							</div>
							<div class="cell" data-title="Age">
								Asst.RTO
Tiptur
							</div>
							<div class="cell" data-title="Job Title">
Revenuedept.
EMP.Socty
Build,
Honnavara
Road,
Tiptur
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08134 - 254799
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA45
							</div>
							<div class="cell" data-title="Age">
								RTOAsst.RTO
Hunsur							</div>
							<div class="cell" data-title="Job Title">
Cauvery
Irrigation
Nigama,
No.1, HRBC
Building,
Hunsur
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								0822 - 2252699
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA46
							</div>
							<div class="cell" data-title="Age">
								
Asst.RTO
Sakaleshpura
							</div>
							<div class="cell" data-title="Job Title">
								Balegaddhe,
Raghavendra
Nagar,
B.M.Road,
N.H.48,
Sakaleshpura,
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08173 - 230746
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA47
							</div>
							<div class="cell" data-title="Age">
								Asst.RTO
Honnavara
							</div>
							<div class="cell" data-title="Job Title">
V.G.PAI 
Building,
No. 1267,
Near N.H.7,
Honnavara - 
Kumata Rd,
Honnavara
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08387 - 236536
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
						KA48
							</div>
							<div class="cell" data-title="Age">
								Asst.RTO
Jamakhandi
							</div>
							<div class="cell" data-title="Job Title">
Sri Deepak
Basavararaj
Building, 
L.T.S. No. 4941,
APMC Yard,
Jamakhandi.
Bagalkot Dist
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08353 - 221094
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA49
							</div>
							<div class="cell" data-title="Age">
Asst.RTO
Gokak
							</div>
							<div class="cell" data-title="Job Title">
Gokak,
Belgaum Dist
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08332 - 224727
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA50
							</div>
							<div class="cell" data-title="Age">
								RTO
Yelahanka
							</div>
							<div class="cell" data-title="Job Title">
2019A,1st Floor,
3rd Cross
Karantaka
Housing Board
Complex,
Sector - B,
Yelahanka
New Town
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								080 - 28561366
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA51
							</div>
							<div class="cell" data-title="Age">
RTO
Chennakeshavanagar
							</div>
							<div class="cell" data-title="Job Title">
				Electronic City,
83/63,
New Central
Jail Rd,
Opp: New Mico
LTD,
Chennakeshavanagar,
BLR	</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								080 - 25735533
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA52
							</div>
							<div class="cell" data-title="Age">
								RTO
Nelamangala
							</div>
							<div class="cell" data-title="Job Title">
1906, 9th
Cross.
Subhas Road,
Nelamangala,
Bangalore
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								080 - 27726886
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA53
							</div>
							<div class="cell" data-title="Age">
								RTO
K.R.Puram
							</div>
							<div class="cell" data-title="Job Title">
345/4,
Bhattarahall,
Old Madras Road,
K.R.Puram,
Bangalore
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								080-25617959
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA54
							</div>
							<div class="cell" data-title="Age">
								Asst.RTO
Nagamangala
							</div>
							<div class="cell" data-title="Job Title">
Nagamangala,
Mandya Dist
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA55
							</div>
							<div class="cell" data-title="Age">
								RTO
Mysore East

							</div>
							<div class="cell" data-title="Job Title">
	Mysore East,
RTO Office Building
Vani Vilas
Road,
Near
Hardwick School,
Mysore							
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								0821 - 2330364
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA56
								
							</div>
							<div class="cell" data-title="Age">
								RTO
Basavakalyan
							</div>
							<div class="cell" data-title="Job Title">
Basavakalyan
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
							
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA64
							</div>
							<div class="cell" data-title="Age">
								ARTO
Madhugiri
							</div>
							<div class="cell" data-title="Job Title">
APMC Yard
Gowribidanur
Road
Madhugiri,
Tumkur Dist
							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								08137 - 284222
							</div>
						</div>
						<div class="row">
							<div class="cell" data-title="Full Name">
								KA65
							</div>
							<div class="cell" data-title="Age">
								ARTO Dandeli
Kolar
							</div>
							<div class="cell" data-title="Job Title">
								Bombay
Chawl Dandeli
Ferro Alloys
Premises
Dandeli,
Uttara Kannada
Dist

							</div>
							<div class="cell" data-title="Location">
					
							</div>
							<div class="cell" data-title="Location">
								
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/js/main.js"></script>

</body>
</html>