<html>
<head>
	<title>	Contact Page</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <!--<link rel="stylesheet" type="text/css" href="contact.css"> -->
</head>
<body>

<nav class="navbar navbar-expand-sm">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#"><strong>Home</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><strong>About Us</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><strong>Contact Us</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><strong>FAQ</strong></a>
    </li>
  </ul>

</nav>
<div><center><p style="height: 23px;font-size:24px;font-family:Times New Roman;color:green;"><h1><strong>RTO Office Contacts : Karnataka</strong></h1></p></center>
<br/><br/>
<!-- <img id="main_logo" src="http://www.horticulture.kar.nic.in/KarnatakaLogo.jpg"> -->
<center>
	

<table style="border-color:#98bf21; border-collapse:collapse; border-color: 1px green;" class="table"  width="100%">
<thead>
<tr class="row-1 odd" role="row">
<th class="column-1 sorting" tabindex="0" aria-controls="tablepress-472" rowspan="1" colspan="1" aria-label="RTO Code: activate to sort column ascending"><strong>RTO Code</strong></th>
<th class="column-2 sorting" tabindex="0" aria-controls="tablepress-472" rowspan="1" colspan="1" aria-label="RTO Name: activate to sort column ascending"><strong>RTO Name</strong></th>
<th class="column-3 sorting" tabindex="0" aria-controls="tablepress-472" rowspan="1" colspan="1" aria-label="RTO Address: activate to sort column ascending"><strong>RTO Address</strong></th>
<th class="column-4 sorting" tabindex="0" aria-controls="tablepress-472" rowspan="1" colspan="1" aria-label="Pin Code: activate to sort column ascending"><strong>Pin Code</strong></th>
<th class="column-5 sorting" tabindex="0" aria-controls="tablepress-472" rowspan="1" colspan="1" aria-label="Phone Number: activate to sort column ascending"><strong>Phone Number</strong></th></tr>
</thead>
<tbody class="row-hover">
<tr class="row-2 even" role="row">
	<td class="column-1">KA01</td><td class="column-2">RTO<br>
 koramangala</td><td class="column-3">Bangalore Cental,<br>
Koramangala,<br>
BDA Complex<br>
3 - Block,<br>
Bangalore<br>
</td><td class="column-4">560034</td><td class="column-5">080 - 25533525<br>
</td>
</tr><tr class="row-3 odd" role="row">
	<td class="column-1">KA02</td><td class="column-2">RTO<br>
Bangalore<br>
( West )</td><td class="column-3">Bangalore<br>
( West )<br>
Rajajinagar<br>
Shopping<br>
Complex<br>
Bangalore</td><td class="column-4">560010</td><td class="column-5">080 - 23324388</td>
</tr><tr class="row-4 even" role="row">
	<td class="column-1">KA03</td><td class="column-2">RTO<br>
Bangalore<br>
( East )</td><td class="column-3">Bangalore<br>
( East )<br>
2nd Floor<br>
BDA Complex<br>
Indiranagar,<br>
Bangalore</td><td class="column-4">560038</td><td class="column-5">080 - 25253726</td>
</tr><tr class="row-5 odd" role="row">
	<td class="column-1">KA04</td><td class="column-2">RTO<br>
Bangalore<br>
( North )</td><td class="column-3">Bangalore<br>
( North )<br>
3rd Floor<br>
Shopping Complex<br>
RLY Stn. Rd,<br>
Yeswanthapura,<br>
BLR</td><td class="column-4">560022</td><td class="column-5">080 - 23376039</td>
</tr><tr class="row-6 even" role="row">
	<td class="column-1">KA05</td><td class="column-2">RTO<br>
Bangalore<br>
( South )</td><td class="column-3">Bangalore<br>
( South )<br>
Jayanagar<br>
Shopping <br>
Complex<br>
4th Block,<br>
Jayanagar,<br>
Bangalore</td><td class="column-4">560011</td><td class="column-5">080 - 26630989</td>
</tr><tr class="row-7 odd" role="row">
	<td class="column-1">KA06</td><td class="column-2">RTO<br>
Tumkur</td><td class="column-3">B.H.Road,<br>
Tumkur</td><td class="column-4"></td><td class="column-5">0816 - 2278473</td>
</tr><tr class="row-8 even" role="row">
	<td class="column-1">KA07</td><td class="column-2">RTO<br>
Kolar</td><td class="column-3">Goripet<br>
Main Road,<br>
Kolar</td><td class="column-4"></td><td class="column-5">08152 - 222039</td>
</tr><tr class="row-9 odd" role="row">
	<td class="column-1">KA08</td><td class="column-2">RTO<br>
Cormondal</td><td class="column-3">Cormondal,<br>
K.G.F</td><td class="column-4"></td><td class="column-5">08153 - 260214</td>
</tr><tr class="row-10 even" role="row">
	<td class="column-1">KA09</td><td class="column-2">RTO<br>
Mysore</td><td class="column-3">RTO Office<br>
Building,<br>
Vanivilas Road,<br>
Near<br>
Haardwick<br>
High School.<br>
Mysore</td><td class="column-4"></td><td class="column-5">0821 - 2330364</td>
</tr><tr class="row-11 odd" role="row">
	<td class="column-1">KA10</td><td class="column-2">RTO<br>
Chamaraj<br>
Nagar</td><td class="column-3">Near<br>
Railway <br>
Station Road,<br>
Chamaraj Nagar</td><td class="column-4"></td><td class="column-5">08226 -722444</td>
</tr><tr class="row-12 even" role="row">
	<td class="column-1">KA11</td><td class="column-2">RTO<br>
Mandya</td><td class="column-3">Near DEP<br>
Commissioner Office,<br>
Mandya</td><td class="column-4"></td><td class="column-5">08232 - 220031</td>
</tr><tr class="row-13 odd" role="row">
	<td class="column-1">KA12</td><td class="column-2">RTO<br>
Madeikeri</td><td class="column-3">Sunny Side,<br>
General<br>
Thimmaiahroadm<br>
Madeikeri</td><td class="column-4"></td><td class="column-5">08272 - 225785</td>
</tr><tr class="row-14 even" role="row">
	<td class="column-1">KA13</td><td class="column-2">RTO<br>
Hassan</td><td class="column-3">B. Kathihall,<br>
Arasikere<br>
Road,<br>
Hassan</td><td class="column-4"></td><td class="column-5">08172 - 240660</td>
</tr><tr class="row-15 odd" role="row">
	<td class="column-1">KA14</td><td class="column-2">RTO<br>
Shimoga</td><td class="column-3">SowlangRoad,<br>
Old D.C<br>
Office Compound,<br>
Shimoga</td><td class="column-4">577201</td><td class="column-5">08182 - 222209</td>
</tr><tr class="row-16 even" role="row">
	<td class="column-1">KA15</td><td class="column-2">Asst. RTO<br>
Sagar</td><td class="column-3">No. 25/46,<br>
Upstairs,<br>
New B.H.<br>
Road,<br>
Vinobha Nagar<br>
Sagar,<br>
Shimoga <br>
Dist</td><td class="column-4"></td><td class="column-5">08183 - 226276</td>
</tr><tr class="row-17 odd" role="row">
	<td class="column-1">KA16</td><td class="column-2">RTO<br>
Chitradurga</td><td class="column-3">NH - 4,<br>
Deviation<br>
Road,<br>
Chitradurga</td><td class="column-4"></td><td class="column-5">08194 - 230457</td>
</tr><tr class="row-18 even" role="row">
	<td class="column-1">KA17</td><td class="column-2">RTO<br>
Davanagere</td><td class="column-3">Devaraj<br>
URS Layout,<br>
Davanagere</td><td class="column-4"></td><td class="column-5">08912 - 259848</td>
</tr><tr class="row-19 odd" role="row">
	<td class="column-1">KA18</td><td class="column-2">RTO<br>
Chickmagalur</td><td class="column-3">M.L.Vasudeva<br>
Murthy <br>
Building,<br>
Hosmane Extn,<br>
Chickmagalur</td><td class="column-4"></td><td class="column-5">08262 - 235426</td>
</tr><tr class="row-20 even" role="row">
	<td class="column-1">KA19</td><td class="column-2">RTO<br>
Mangalore</td><td class="column-3">Hampanakatte,<br>
Nehru Maidhan<br>
Road, East<br>
A.B.Shetty<br>
Circle,<br>
Mangalore</td><td class="column-4"></td><td class="column-5">0824 - 2423476</td>
</tr><tr class="row-21 odd" role="row">
	<td class="column-1">KA20</td><td class="column-2">RTO<br>
Udupi</td><td class="column-3">Padmasali<br>
Sabagraha<br>
Kattada,<br>
Mulki Road,<br>
ADI Udupi,<br>
Udupi</td><td class="column-4">576103</td><td class="column-5">0820 - 2521437</td>
</tr><tr class="row-22 even" role="row">
	<td class="column-1">KA21</td><td class="column-2">RTO<br>
Puttur</td><td class="column-3">Puttur,<br>
Dakshina<br>
Kannada<br>
District</td><td class="column-4"></td><td class="column-5">08251 - 230729</td>
</tr><tr class="row-23 odd" role="row">
	<td class="column-1">KA22</td><td class="column-2">RTO<br>
Belgaum</td><td class="column-3">Sangolli <br>
Rayanna Circle,<br>
P.B. Road,<br>
RTO Office<br>
Compound,<br>
Shivanagar,<br>
Belgaum</td><td class="column-4">590016</td><td class="column-5">08312 - 465503</td>
</tr><tr class="row-24 even" role="row">
	<td class="column-1">KA23</td><td class="column-2">RTO<br>
Chikkodi</td><td class="column-3">Mahalingapura<br>
Road,<br>
Mahaveera<br>
Nagar<br>
EXTN,<br>
Chikkodi,<br>
Belgam Dist</td><td class="column-4"></td><td class="column-5">08338 - 272241</td>
</tr><tr class="row-25 odd" role="row">
	<td class="column-1">KA24</td><td class="column-2">Asst. RTO<br>
Bailahongala</td><td class="column-3">Bailahongala,<br>
Belgaum<br>
Dist</td><td class="column-4"></td><td class="column-5">08288 - 233288</td>
</tr><tr class="row-26 even" role="row">
	<td class="column-1">KA25</td><td class="column-2">RTO<br>
Dharwad</td><td class="column-3">Naavanagar<br>
Post,<br>
Hubli - Dharwad<br>
Road,<br>
Dharwad</td><td class="column-4"></td><td class="column-5">0836 - 2322220</td>
</tr><tr class="row-27 odd" role="row">
	<td class="column-1">KA26</td><td class="column-2">RTO<br>
Gadag</td><td class="column-3">3739,<br>
Jodamaruthi<br>
Temple Street,<br>
Hubli - Dhawad<br>
Road,<br>
Gadag</td><td class="column-4">582101</td><td class="column-5">08372 - 237078</td>
</tr><tr class="row-28 even" role="row">
	<td class="column-1">KA27</td><td class="column-2">RTO<br>
Haveri</td><td class="column-3">No. 2548,<br>
M.S.Kurubagonda<br>
Building,<br>
Hukkerimatt<br>
Road,<br>
Haveri</td><td class="column-4"></td><td class="column-5">08375 - 232299</td>
</tr><tr class="row-29 odd" role="row">
	<td class="column-1">KA28</td><td class="column-2">RTO<br>
Bijapur</td><td class="column-3">Bagalkot <br>
Road,<br>
Bijapur</td><td class="column-4"></td><td class="column-5">08352 - 276218</td>
</tr><tr class="row-30 even" role="row">
	<td class="column-1">KA29</td><td class="column-2">RTO<br>
Bagalkot</td><td class="column-3">Station Road<br>
Extention Area,<br>
Navanagar,<br>
Bagalkot</td><td class="column-4">577101</td><td class="column-5">08354 - 235912</td>
</tr><tr class="row-31 odd" role="row">
	<td class="column-1">KA30</td><td class="column-2">RTO<br>
Karwar</td><td class="column-3">Near PWD<br>
Inspection<br>
Bungalow,<br>
Kawar</td><td class="column-4">581301</td><td class="column-5">08382 - 226364</td>
</tr><tr class="row-32 even" role="row">
	<td class="column-1">KA31</td><td class="column-2">RTO<br>
Sirsi</td><td class="column-3">Choukimutt<br>
Road, Sirsi,<br>
Uttara Kannada</td><td class="column-4"></td><td class="column-5">08384 - 226711</td>
</tr><tr class="row-33 odd" role="row">
	<td class="column-1">KA32</td><td class="column-2">RTO<br>
Gulbarga</td><td class="column-3">Rajpur Cross, Sedam Road<br>
Gulbarga</td><td class="column-4">585105</td><td class="column-5">08472 - 248805</td>
</tr><tr class="row-34 even" role="row">
	<td class="column-1">KA33</td><td class="column-2">RTO<br>
Yadagiri</td><td class="column-3">Near KSRTC<br>
Bus Depot,<br>
Station Area,<br>
Yadagiri</td><td class="column-4"></td><td class="column-5">08473 - 252580</td>
</tr><tr class="row-35 odd" role="row">
	<td class="column-1">KA34</td><td class="column-2">RTO<br>
Bellary</td><td class="column-3">Bellary - <br>
Hospet Road,<br>
Contonment<br>
Bellary</td><td class="column-4"></td><td class="column-5">08392 - 240048</td>
</tr><tr class="row-36 even" role="row">
	<td class="column-1">KA35</td><td class="column-2">RTO<br>
Hospet</td><td class="column-3">No. 180, Near<br>
Harihara Road,<br>
Amaravathi,<br>
Hospet</td><td class="column-4">583201</td><td class="column-5">08394 - 230766</td>
</tr><tr class="row-37 odd" role="row">
	<td class="column-1">KA36</td><td class="column-2">RTO<br>
Raichur</td><td class="column-3">Near KSRTC<br>
Depot,<br>
Mantralaya<br>
Road,<br>
Raichur</td><td class="column-4"></td><td class="column-5">08532 - 223329</td>
</tr><tr class="row-38 even" role="row">
	<td class="column-1">KA37</td><td class="column-2">RTO<br>
Koppal</td><td class="column-3">APMC Yaard,<br>
Koppal</td><td class="column-4"></td><td class="column-5">08539 - 220829</td>
</tr><tr class="row-39 odd" role="row">
	<td class="column-1">KA38</td><td class="column-2">RTO<br>
Bidar</td><td class="column-3">Near Airforce<br>
Gatr,<br>
Bidar</td><td class="column-4"></td><td class="column-5">08484 - 226361</td>
</tr><tr class="row-40 even" role="row">
	<td class="column-1">KA39</td><td class="column-2">Asst. RTO<br>
Bhalki</td><td class="column-3">Near I.B,<br>
Gunjarea,<br>
Bhalki,<br>
Bidar<br>
Dist</td><td class="column-4"></td><td class="column-5">08484 - 262582</td>
</tr><tr class="row-41 odd" role="row">
	<td class="column-1">KA40</td><td class="column-2">RTO<br>
Chikkaballapura</td><td class="column-3">Bangalore<br>
Road,<br>
Chikkaballapura</td><td class="column-4"></td><td class="column-5">08156 - 263053</td>
</tr><tr class="row-42 even" role="row">
	<td class="column-1">KA41</td><td class="column-2">RTO<br>
Bangalore</td><td class="column-3">26/2,27/2,<br>
Kenchenahalligrama,<br>
Jnanabharati,<br>
RVCE Post,<br>
Mysore Road,<br>
Bangalore</td><td class="column-4"></td><td class="column-5">080 - 22718765</td>
</tr><tr class="row-43 odd" role="row">
	<td class="column-1">KA42</td><td class="column-2">RTO<br>
Ramanagara</td><td class="column-3">Near Ghousia<br>
College,<br>
Mysore Road,<br>
Ramanagara</td><td class="column-4"></td><td class="column-5">080 - 7201062</td>
</tr><tr class="row-44 even" role="row">
	<td class="column-1">KA43</td><td class="column-2">Asst.RTO<br>
Devenahall</td><td class="column-3">Vijayapura Road<br>
Devenahall</td><td class="column-4"></td><td class="column-5">080 - 27681999</td>
</tr><tr class="row-45 odd" role="row">
	<td class="column-1">KA44</td><td class="column-2">Asst.RTO<br>
Tiptur</td><td class="column-3">Revenuedept.<br>
EMP.Socty<br>
Build,<br>
Honnavara<br>
Road,<br>
Tiptur</td><td class="column-4"></td><td class="column-5">08134 - 254799</td>
</tr><tr class="row-46 even" role="row">
	<td class="column-1">KA45</td><td class="column-2">Asst.RTO<br>
Hunsur</td><td class="column-3">Cauvery<br>
Irrigation<br>
Nigama,<br>
No.1, HRBC<br>
Building,<br>
Hunsur</td><td class="column-4"></td><td class="column-5">0822 - 2252699</td>
</tr><tr class="row-47 odd" role="row">
	<td class="column-1">KA46</td><td class="column-2">Asst.RTO<br>
Sakaleshpura</td><td class="column-3">Balegaddhe,<br>
Raghavendra<br>
Nagar,<br>
B.M.Road,<br>
N.H.48,<br>
Sakaleshpura,<br>
Hassan Dt</td><td class="column-4"></td><td class="column-5">08173 - 230746</td>
</tr><tr class="row-48 even" role="row">
	<td class="column-1">KA47</td><td class="column-2">Asst.RTO<br>
Honnavara</td><td class="column-3">V.G.PAI <br>
Building,<br>
No. 1267,<br>
Near N.H.7,<br>
Honnavara - <br>
Kumata Rd,<br>
Honnavara</td><td class="column-4"></td><td class="column-5">08387 - 236536</td>
</tr><tr class="row-49 odd" role="row">
	<td class="column-1">KA48</td><td class="column-2">Asst.RTO<br>
Jamakhandi</td><td class="column-3">Sri Deepak<br>
Basavararaj<br>
Building, <br>
L.T.S. No. 4941,<br>
APMC Yard,<br>
Jamakhandi.<br>
Bagalkot Dist</td><td class="column-4"></td><td class="column-5">08353 - 221094</td>
</tr><tr class="row-50 even" role="row">
	<td class="column-1">KA49</td><td class="column-2">Asst.RTO<br>
Gokak</td><td class="column-3">Gokak,<br>
Belgaum Dist</td><td class="column-4"></td><td class="column-5">08332 - 224727</td>
</tr><tr class="row-51 odd" role="row">
	<td class="column-1">KA50</td><td class="column-2">RTO<br>
Yelahanka</td><td class="column-3">2019A,1st Floor,<br>
3rd Cross<br>
Karantaka<br>
Housing Board<br>
Complex,<br>
Sector - B,<br>
Yelahanka<br>
New Town</td><td class="column-4"></td><td class="column-5">080 - 28561366</td>
</tr><tr class="row-52 even" role="row">
	<td class="column-1">KA51</td><td class="column-2">RTO<br>
Chennakeshavanagar</td><td class="column-3">Eelectronic City,<br>
83/63,<br>
New Central<br>
Jail Rd,<br>
Opp: New Mico<br>
LTD,<br>
Chennakeshavanagar,<br>
BLR</td><td class="column-4"></td><td class="column-5">080 - 25735533</td>
</tr><tr class="row-53 odd" role="row">
	<td class="column-1">KA52</td><td class="column-2">RTO<br>
Nelamangala</td><td class="column-3">1906, 9th<br>
Cross.<br>
Subhas Road,<br>
Nelamangala,<br>
Bangalore</td><td class="column-4"></td><td class="column-5">080 - 27726886</td>
</tr><tr class="row-54 even" role="row">
	<td class="column-1">KA53</td><td class="column-2">RTO<br>
K.R.Puram</td><td class="column-3">345/4,<br>
Bhattarahall,<br>
Old Madras Road,<br>
K.R.Puram,<br>
Bangalore</td><td class="column-4"></td><td class="column-5">080 - 25617959</td>
</tr><tr class="row-55 odd" role="row">
	<td class="column-1">KA54</td><td class="column-2">Asst.RTO<br>
Nagamangala</td><td class="column-3">Nagamangala,<br>
Mandya Dist</td><td class="column-4"></td><td class="column-5"></td>
</tr><tr class="row-56 even" role="row">
	<td class="column-1">KA55</td><td class="column-2">RTO<br>
Mysore<br>
East</td><td class="column-3">Mysore East,<br>
RTO Office Building<br>
Vani Vilas<br>
Road,<br>
Near<br>
Hardwick School,<br>
Mysore</td><td class="column-4"></td><td class="column-5">0821 - 2330364</td>
</tr><tr class="row-57 odd" role="row">
	<td class="column-1">KA56</td><td class="column-2">RTO<br>
Basavakalyan</td><td class="column-3">Basavakalyan</td><td class="column-4"></td><td class="column-5"></td>
</tr><tr class="row-58 even" role="row">
	<td class="column-1">KA64</td><td class="column-2">ARTO <br>
Madhugiri</td><td class="column-3">APMC Yard<br>
Gowribidanur<br>
Road<br>
Madhugiri,<br>
Tumkur Dist</td><td class="column-4"></td><td class="column-5">08137 - 284222</td>
</tr><tr class="row-59 odd" role="row">
	<td class="column-1">KA65</td><td class="column-2">ARTO Dandali</td><td class="column-3">Bombay<br>
Chawl Dandeli<br>
Ferro Alloys<br>
Premises<br>
Dandeli,<br>
Uttara Kannada<br>
Dist</td><td class="column-4"></td><td class="column-5"></td>
</tr></tbody>
</table>
</center></div>	
	


</body>
</html>

<style>h1{
	color: black;
	text-align: center;
	height: 40px;
	text-shadow: 4px 5px gray;
	font-size: 55px;
}
td{
	border-bottom:  1.5px solid black;
}

tr{
	border:  1.5px solid black;
}

a{
	color: black;
}
.navbar{

	background-color: gray;

}

.table thead th{
	border-bottom: 1.5px solid black;
}
.table th{
	border-top: 1.5px solid black;
}

#f{
	position: absolute;
	margin-left: 850px;
}
#image{
	width: 20px;
	height: 20px;
	
}

body{
	
color: black;
background-image: url(https://digitalsynopsis.com/wp-content/uploads/2017/02/beautiful-color-gradients-backgrounds-010-winter-neva.png);
background-repeat: no-repeat;
background-size: cover;
}
 a{
            color: black;
            font-size: 1.1em !important;
             margin: 0 3px;
        }

</style>