
<form method="POST" action="/delete">
<h1>Enter the name of the person to be deleted</h1>
Fname : <input name="fname" type="text"></input>
Lname : <input name = "lname" type="text"></input>
Email : <input name = "email" type="email"></input>
<button type="submit">Delete</button>
</form>