<form method='POST' action = "/fine">
<input name="vid">vid</input>
<input name = "famt">Fine amount</input>
<input name = "locn">Location</input>
<input name = "fdate">fine date</input>
<input name = "fdesc">fine description</input>
<input name = "strike">Strike(YES:1/NO:0)</input>
<button type="submit">Submit</button>
</form>