<form method="POST" action="/issuedlicense">
    <input type="text" name="lno">License Number</input>
    <input type="text" name="idate">Issue Date</input>
    
    <button type="btn-default">Submit</button>
</form> 