<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/landing.css">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<script type="text/javascript" src="/landing.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
	<title></title>
</head>
<body>
	<div id="bdy">
	<div class="anim">
		<img src="/final_car_animation.svg">
	</div>
	</div>
</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
    			easing: "ease-out-back",
				duration: 2000
			});
  </script>
</html>