<form method="POST" action="/issuelicense">
    <input type="text" name="fname">First Name</input>
    <input type="text" name="lname">Last Name</input>
    <input type="email" name="email">Email</input>
     <input type="text" name="lno">License Number</input>
    <input type="text" name="idate">Issue Date</input>
    
    
    
    
    <button type="btn-default">Submit</button>
</form> 

