<form method = "GET" action ="/license"  >
<button type="submit">ISSUE LICENSE</button>
</form>

<

<form method = "GET" action ="/fine"  >
<button type="submit">FINE</button>
</form>

<form method = "GET" action ="/registers"  >
<button type="submit">REGISTER USER</button>
</form>



<form method = "GET" action ="/update"  >
<button type="submit">UPDATE USER</button>
</form>

<form method = "GET" action ="/delete"  >
<button type="submit">DELETE USER</button>
</form>


