	<form method="POST" action='/register'>
<div>
<h1>REGIONAL TRANSPORT OFFICE</h1>

<img src="http://tmaespolytechnichpt.com/wp-content/uploads/2015/11/DTE-Karnataka.jpg">	
<img src="http://tmaespolytechnichpt.com/wp-content/uploads/2015/11/DTE-Karnataka.jpg">	

	
	
<div>


	<h2>Create An Account </h2><br>
	<label>First Name: <input type=" text" name="fname"></label><br>
	<label>Last Name: <input type=" text" name="lname"></label><br>
  <label>GENDER : <select name = "gen"><option>MALE</option><option>FEMALE</option></label>

	<br>
	<p><input type = "text" name="address">Address :</input><br>
	
	<label>Date of Birth :</label>
			<input  name = "dob" type="date"><br>
			<label>Blood Group : <select name="bgo"><option>A+</option><option>A-</option><option>B+</option><option>B-</option><option>O+</option><option>O-</option><option>AB+</option><option>AB-</option></select></label><br>

			
			<label>Qualification : <select name = "qual"><option>SSLC</option><option>PUC</option><option>UG</option><option>PG</option></select></label>

			<div>
   
  </div>
	<div>
    <label>Email Address :</label>
    <input type="email" name="email">
    <small>We&#39;ll never share your email with anyone else.</small>
  </div>

  <div>
    <label>Password :</label>
    <input type="password" name="password">
  </div>
  
  
			
		<p>	<button>Sign Up</button></p>
		
		
		



</form>