<form method="POST" action="/registered">
    <input type="text" name="fname">First Name</input>
    <input type="text" name="lname">Last Name</input>
    <input type="email" name="email">Email</input>
    <input type="text" name="vmake_id">Vmake ID</input>
    <input type="text" name="year">Year</input>
    <input type="text" name="vmodel">Model</input>
     <input type="text" name="regno">register Number</input>
     <input type="text" name="loc">location</input>
    <input type="date" name="reg_date">register date</input>
    
    
    
    
    <button type="submit">Submit</button>
</form> 
