<!--<form method="POST" action='/register'>
<div>
<h1>REGIONAL TRANSPORT OFFICE</h1>

<img src="http://tmaespolytechnichpt.com/wp-content/uploads/2015/11/DTE-Karnataka.jpg">	
<img src="http://tmaespolytechnichpt.com/wp-content/uploads/2015/11/DTE-Karnataka.jpg">	

	
	
<div>

	<h2>Create An Account </h2><br>
	<label>First Name: <input type=" text" name="fname"></label><br>
	<label>Last Name: <input type=" text" name="lname"></label><br>
  <label>GENDER : <select name = "gen"><option>MALE</option><option>FEMALE</option></label>

	<br>
	<p><input type = "text" name="address">Address :</input><br>
	
	<label>Date of Birth :</label>
			<input  name = "dob" type="date"><br>
			<label>Blood Group : <select name="bgo"><option>A+</option><option>A-</option><option>B+</option><option>B-</option><option>O+</option><option>O-</option><option>AB+</option><option>AB-</option></select></label><br>

			
			<label>Qualification : <select name = "qual"><option>SSLC</option><option>PUC</option><option>UG</option><option>PG</option></select></label>

			<div>
   
  </div>
	<div>
    <label>Email Address :</label>
    <input type="email" name="email">
    <small>We&#39;ll never share your email with anyone else.</small>
  </div>

  <div>
    <label>Password :</label>
    <input type="password" name="password">
  </div>
			
		<p>	<button>Sign Up</button></p>
		
</form>
-->


<!DOCTYPE html>
<html>
<head>
	<title>	Sign Up Form</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/signup.css">
</head>
<body>

	<nav class="navbar navbar-expand-sm">
 <!-- <a class="navbar-brand" href="#">
    <img src="https://icon2.kisspng.com/20180427/pew/kisspng-lion-capital-of-ashoka-sarnath-pillars-of-ashoka-s-5ae315af1c2309.4908359815248316631153.jpg" alt="Logo" style="width:40px;">
  </a> -->
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#"><strong >Home</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><strong>About Us</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><strong >Contact Us</strong></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><strong >FAQ</strong></a>
    </li>
  </ul>

</nav>
<h1>WELCOME TO REGIONAL TRANSPORT SERVICES</h1>

<!-- <img  class="tleft" src="http://tmaespolytechnichpt.com/wp-content/uploads/2015/11/DTE-Karnataka.jpg">	
<img  class="tright" src="http://tmaespolytechnichpt.com/wp-content/uploads/2015/11/DTE-Karnataka.jpg">	 -->

	<!-- <form id="d">
		
	<h2>Enter Details To Login</h2>
	<br>
	<label><strong>Admin</strong> <input type="radio" name="same" ></label>
	<label><strong>User</strong> <input type="radio" name="same"></label>
	<br>
    <label><strong>User Name :</strong> <input type="text" placeholder="Name"name="text" required></label>
    <br>
	
    <label ><strong>Password :</strong></label>
    <input type="password"  placeholder="Password"><br>
    
 <br>
 
 
 	<button type="button" class="btn btn-primary">Submit</button>  </div>
		
</form>
	 -->
	 <form id="l"><marquee behavior="scroll" direction="up" scrollamount="3" style="height:500px;"><strong>
	  The Regional Transport Office or Regional Transport Authority (RTO/RTA) is the organisation of the Indian government responsible for maintaining a database of drivers and a database of vehicles for various states of India. The RTO issues driving licences, organises collection of vehicle excise duty (also known as road tax and road fund licence) and sells personalised registrations. 
	  <p>
	        <h5><strong>RTO database :</strong></h5>
     The RTO identifies untaxed vehicles, and identify keepers of cars entering the state, or who exceed speed limits on a road that has speed cameras by matching the cars to their keepers utilising the RTO database.

     The High Security Registration plates (HSRP) was introduced to help reduce vehicle crime and improve security. It is intended to deter criminals from disguising stolen cars with the identity of written off or scrapped vehicles.</p>

      There are various portals where one can check their license status.

        <p>    <h5><strong>Vehicle registration certificate :</strong></h5>
     The owner of a vehicle can apply and get duplicate copy of the vehicle registration certificate from the concerned RTO office if it is stolen, lost, destructed and completely written off. A complaint should be lodged to the police station which is situated under the jurisdiction / area of lost before approaching the regional transport officer. After completing the formalities, the owner has to submit FORM 26 and the Police Certificate to the Registering Authority along with the required documents for applying duplicate vehicle registration certificate.</p>
	    </strong></marquee>
	</form>

<div class="container">
	


	<form method="POST" action="/register" id="f">
		<h2>Create An Account </h2><br>
	<label><strong>First Name:</strong> <input type="text" name="fname"  placeholder="Enter First Name" required></label><br>
	<label><strong>Last Name:</strong> <input type=" text" name="lname" placeholder="Enter Last Name" required ></label><br>
	<label><strong>Gender : </strong><select name="gen"><option>Male</option><option>Female</option></select></label>
	<br>
	<p><label><strong>Address :</strong></label><br>
	<textarea rows="4" cols="35" name="address" placeholder="Enter Your Permanent Address" ></textarea></p>
	<!--<p><strong>Address:</strong><input type="textarea" name="address"></input></p>-->
	<label><strong>Date of Birth :</strong></label>
			<input type="date" name="dob"><br>
			<label><strong>Blood Group :</strong> <select name="bgo"><option>A+</option><option>A-</option><option>B+</option><option>B-</option><option>O+</option><option>O-</option><option>AB+</option><option>AB-</option></select></label><br>

			
			<label><strong>Qualification : </strong><select name="qual"><option>SSLC</option><option>PUC</option><option>UG</option><option>PG</option></select></label>

		<!-- 	<div class="form-group">
    <label ><strong>Phone Number :</strong></label>
    <input type="text"  placeholder="+91" required>
  </div> -->
	<div class="form-group">
    <label for="exampleInputEmail1"><strong>Email Address :</strong></label>
    <input type="email" name="email" placeholder="Enter email" required>
    <small id="emailHelp" class="form-text ">We'll never share your email with anyone else.</small>
  </div>

  <div class="form-group">
    <label ><strong>Password :</strong></label>
    <input type="password"  placeholder="Password" name="password" required>
  </div>
			<p><label><strong>I agree for all the terms and conditions </strong><input  type="checkbox" name="checkbox" required></label></p>
		<p>	<button type="submit" class="btn btn-primary">Sign Up</button></p>

</form></div>
</body>
</html>


