
<form method="POST" action = "/update">
    

<h1>Enter the name of the person to be updated</h1>
Fname : <input name="fname" type="text"></input>
Lname : <input name = "lname" type="text"></input>
Email : <input name = "email" type="email"></input>

<h1>Enter the details to be updated</h1>



	<p><strong>Address:</strong><input type="text" name="address"></input></p>
	
		

			
	<label><strong>Qualification : </strong><select name="qual"><option>SSLC</option><option>PUC</option><option>UG</option><option>PG</option></select></label>
<button type=submit>update</button>
</form>